<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Siap Home</a>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link">Login</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn" routerLinkActive="active">
      <li class="nav-item">
        <a href="/carnet" class="nav-link">Carnet</a>
      </li>
      <li class="nav-item">
        <a href="/persona" class="nav-link">Persona</a>
      </li>
      <li class="nav-item navbar-collapse">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdow" data-bs-toggle="dropdown" aria-expanded="false">
            Reportes
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a href="/biblioEstu" class="dropdown-item">Biblioteca Estudiante</a></li>
            <li><a href="/biblioDocen" class="dropdown-item">Biblioteca Docente</a></li>
            <li><a href="/campusEstu" class="dropdown-item">Campus Estudiante</a></li>
            <li><a href="/campusDoce" class="dropdown-item">Campus Docente</a></li>
            <li><a href="/campusEgre" class="dropdown-item">Campus Egresado</a></li>
            <li><a href="/salaComEstu" class="dropdown-item">Sala Cómputo Estudiante</a></li>
            <li><a href="/labEstu" class="dropdown-item">Laboratorio Estudiante</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a href="/home" class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
